@import "../../assets/colors/colors.css";

.chaos__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 80%;
  padding: 0 1rem;
  align-items: center;
  background: linear-gradient(
    225deg,
    var(--chaos-primary) 0%,
    var(--chaos-secondary) 60%
  );
}
