.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
  padding: 24px 10px;
  background-color: rgb(44, 44, 44);
}

.headerHeadline {
  color: whitesmoke;
  margin: 0 60px;
  text-align: center;
}

.header__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-width: 20%;
}

.center__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 20%;
  flex: 1;
}
